
@{
    ViewData["Title"] = "StoredData";
}

<label>
    <span class="glyphicon glyphicon-refresh"></span>
</label>
<section>
    <div style="display:flex;justify-content:space-evenly;">
        <div>
            <button type="button" class="btn btn-success"  id="btnRefreshDb">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                  <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                </svg>
            </button>
        </div>
        <div>
             <label for="idLastRefreshed"> Last Refreshed: </label>
            <input id="idLastRefreshed" disabled/>
        </div>
    </div>
</section>

<section>
    <div style="display:flex;justify-content:space-evenly;">
        <div>
            <label for="ddStates">
                States:
            </label>
            <select id="ddStates"  placeholder="Select State" class="form-control"></select>
        </div>
         <div>
            <label for="ddCities">
                Cities:
            </label>
            <select id="ddCities" placeholder="Select City" class="form-control"></select>
        </div>  
             
        <div style="align-self:center;">
            <input type="button" id="btnFetchForSelection" value="Fetch" class="btn btn-success" />
        </div>
    </div>
</section>

<partial name="_AQTablePartialView"/>

<script>
    window.onload = function () {

        const notify = new CustomToast();

        const configTable = {
            AQTableBodyId: 'AirQualityIndexTableBody',
            AQTableId: 'AirQualityIndexTable',
            AQTableWrapper: 'AirQualityTableWrapper',
            Notify: notify
        };

        const objAQTable = new AQTable(configTable);

        const config = {
            AQDropDownStateDefault: '--Select State--',
            AQDropDownCityDefault: '--Select City--',
            AQDbRefreshUrl: '@Url.ActionLink("AirQualityFullDbRefresh", "StoredData")',
            AQFetchUrl: '@Url.ActionLink("FetchAirQuality", "RealTime")',
            AQGetCityForStateUrl: '@Url.ActionLink("GetCityForState", "StoredData")',
            AQLastRefreshUrl: '@Url.ActionLink("GetLastRefreshed", "StoredData")',
            AQGetStatesUrl: '@Url.ActionLink("GetAllStates", "StoredData")',
            AQGetCitiesUrl: '@Url.ActionLink("GetAllCities", "StoredData")',
            AQDbFetchUrl: '@Url.ActionLink("GetAQStoredIndexes", "StoredData")',
            AQTable: objAQTable,
            Notify: notify
        }
        const aq = new AQStoredData(config);
        
        $('#ddStates').change(function(){
            let selectedState = $('#ddStates').val();
            if(selectedState != config.AQDropDownStateDefault)
            {
                aq.refreshCityListByState(selectedState);        
            }
        })

        $('#btnRefreshDb').click(function () {
            aq.refreshAQRecordsInDb();
        });

        $('#btnFetchForSelection').click(function(){
            let selectedState = $('#ddStates').val();
            let selectedCity = $('#ddCities').val();
            if(selectedState == config.AQDropDownStateDefault)
            {
                selectedState = undefined;
            }
            if(selectedCity == config.AQDropDownCityDefault)
            {
                selectedCity = undefined;
            }
            console.log("calling controller")
            aq.fetchAQIndexesFromDb(selectedState, selectedCity);
        });

    };

</script>